.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #cdf1ffd3;
    z-index: 2;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

body {
    font-family: 'Syne', sans-serif;
}

.content {
    margin: 0 auto;
    max-width: 500px;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 10px;
}

.cotent-title {
    padding-left: 20px;
}

.post {
    display: flex;
    padding: 20px;
    gap: 10px;
    border-bottom: 1px solid rgb(233, 233, 233);
}

.icon-twit {
    align-self: flex-start;
    width: 48px;
    path {
        fill: rgb(29, 155, 240);
    }
}

.post-flex-title {
    display: flex;
    justify-content: space-around;
}

.post-author {
    font-weight: bold;
    font-size: 18px;
}

.post-email {
    margin-left: 10px;
    color: rgb(83, 100, 113);
    font-size: 15px;
}

.post-button {
    padding: 6px 17px;
    border: 1px solid transparent;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    background-color: black;
    cursor: pointer;

    &:hover {
        color: black;
        background-color: white;
        border: 1px solid black;
    }
}

.post-title {
    margin-bottom: 20px;
    color: rgb(54, 54, 54);
}

.post-body {
    margin: 10px;
    margin-left: -15px;
    padding: 10px;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 20px;
    font-size: 18px;
    line-height: 20px;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {
    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0.5;
}

.loaded .preloader {
    display: none;
}
